body {
    background: #000;
}
.wrapper {
    background-color: #FFF;
    position: relative;

}
.wrapper.nav-expanded{

}
.wrapper.nav-expanded .content {
    transition: transform 0.5s;
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.wrapper.nav-expanded .side-bar {

}

.side-bar {

}
