.callout {
    width: 400px;
    margin: 0 auto;
    margin-top: 270px;
    margin-bottom: 200px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.callout h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 300;
}
.callout h2 {
    color: #30D1EA;
    font-size: 20px;
    font-weight: 600;
}