
#landing-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	overflow: scroll;
	width: 100%;
	height: 100%;
}

.landing-wrapper {
  background: url('../images/landing-background.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-wrapper h1 {
	color: #fff;
	font-size: 65px;
	font-weight: 100;
	margin-bottom: 18px;
}

.content-wrapper h2 {
	color: #22c1ee;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 30px;
}

.content-wrapper hr {
	width: 70px;
}