/* Nav Container */

.nav-container {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-container > img {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 60px;
}

.nav-container > .hamburger {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 35px;
  padding: 2px 11px 0 0;
  cursor: pointer;
  color: white;
}
/* Side Bar */

.side-bar {
  z-index: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: rgba(32, 35, 40, 1);
  color: white;
}

.side-bar ul {
  margin: 0;
  padding: 0;
}

.side-bar ul li {
  padding: 20px 0 20px 30px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.side-bar ul li:hover {
  background: rgba(34, 193, 238, 0.1);
}

.side-bar ul li:before {
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}
.side-bar ul li.icon-eye:before {
  top:6px;
}
