<div class="get-started-container" ng-class="{'slide-left': (getData('NavController').slideContent)}">
  <div class="get-started-banner">
    <div class="overlay"></div>
    <div class="content">
      <h1>Get Started</h1>
      <p class="sub-heading">Let get going</p>
      <div class="sub-line"></div>
      <p class="get-started-copy">First time here?</p>
      <button class="global-blue-button-clear" ng-click="assignments()">Assignments</button>
    </div>
  </div>
  <div class="description">
  	<p class="get-started-headings">Git</p>
  	<div class="sub-line"></div>
  	<p class="get-started-paragraph">Let's get started. First clone this repsitory. Then make a branch off of master. Set your name as the branch name (scott). Make another branch off of the branch that you just made (scott-dev). Now you are good to go. Once you finish an assignment, pull in master, and put in a pull request betweent the two branches (scott-dev and scott).</p>
  	<p class="get-started-headings">Assignments</p>
  	<div class="sub-line"></div>
  	<p class="get-started-paragraph">If you look in the public directory, there are 2 folders. One is called "project" and the other is called "assignments". The project folder is where you will be working. I have created the skeleton and set up the initial controller, views and the corresponding css files. I have also set up socket.io. The assignments folder is where I upload the assignments. Please make sure to NOT alter any of the files in /public/assignments. If you do, you will have to deal with merge conflicts. I have set up firebase in the assignmets angular app. This will allow me to upload new assignments, without having to push to master over and over again.</p>

  	<p class="get-started-headings">Step One</p>
  	<div class="sub-line"></div>
  	<p class="get-started-paragraph">Prior to writing any code. Read through all the files in /public/project. Make youself familiar with where the files are. The app is setup this way on purpose. I have organized the public files in the exact same format as we currently have on Stanza. Once you start doing these assignments, you will be able to navigate through the production code with ease.</p>
  </div>
</div>
