<div class="landing-container" ng-class="{'slide-left': (getData('NavController').slideContent)}">
  <div class="overlay"></div>
  <div class="content">
    <h1>Stanza - Cars</h1>
    <p class="sub-heading">Become a Front-end expert</p>
    <div class="sub-line"></div>
    <p class="context">This is a project for Stanza's front-end team. It will help developers improve their Html, CSS and Angular skills. We will be building a webapp that allows users to look at all the cars for sale in Ontario Canada, LOL. I hope you learn a lot while building this application.</p>
    <button class="global-blue-button-clear" ng-click="begin()">Begin!</button>
  </div>
</div>
