<div class="nav-gradient z-2"></div>
<div ng-toggle class="nav-container z-3">
  <div class="sidebar-container transition-point5s" ng-class='{ "slide-left": (getState("sidebar", "isToggled")) }'>
    <ul class="sidebar-menu-container">
      <li class="icon-home-2"><span class="sidebar-menu-copy">Home</span></li>
      <li class="ion-model-s"><span class="sidebar-menu-copy">Cars</span></li>
    </ul>
  </div>
  <img class="transition-point5s" ng-class='{ "slide-left": (getState("sidebar", "isToggled")) }' src="http://dff2h0hbfv6w4.cloudfront.net/images/stanza/logos/stanza_logo.png">
  <div id='ion-burger' class="ion-navicon top-right"></div>
</div ng-toggle>
