<div class="nav-gradient z-2"></div>
<div ng-toggle ng-hover class="nav-container z-3">
  <div class="sidebar-container transition-point5s" ng-class='{ "slide-left": (getState("sidebar", "isToggled")) }'>
    <ul class="sidebar-menu-container">
      <li id="home-row" class="icon-home-2" ng-class='{ "sidebar-hover" : (hoverHome) }' ng-click='navigate("home");'>
        <span id="home-row-copy" class="sidebar-menu-copy">Home</span></li>
      <li id="cars-row" class="ion-model-s" ng-class='{ "sidebar-hover" : (hoverCars) }' ng-click='navigate("cars");'>
        <span id="cars-row-copy" class="sidebar-menu-copy">Cars</span></li>
    </ul>
  </div>
  <img class="transition-point5s" ng-class='{ "slide-left": (getState("sidebar", "isToggled")) }' src="http://dff2h0hbfv6w4.cloudfront.net/images/stanza/logos/stanza_logo.png">
  <div id='ion-burger' class="ion-navicon top-right"></div>
</div ng-toggle ng-hover>
